/*!
	-----------------------------------------------------------------------------
	- Ingrsar
	-----------------------------------------------------------------------------
	*/

.pd-ingresar
	align-items: center
	background-image: url(../images/fondo.png)
	background-position: 50%
	background-repeat: no-repeat
	background-size: 60%
	display: flex
	flex-direction: column
	min-height: calc(100vh - 90px)
	justify-content: center

	.pd-ingresar-img-texto
		margin: 0 auto
		max-width: 80%
		width: 720px

	.pd-ingresar-conejo
		align-items: center
		display: flex
		flex-direction: column
		justify-content: center
		margin: 0 auto
		max-width: 80%
		width: 720px
		img
			margin: 0 auto
			max-width: 80%
			width: 390px
		a.btn-ingresar
			background-color: transparent
			border-color: transparent
			background-image: url(../images/ingresar/ingresa-aqui.png)
			background-position: 50%
			background-repeat: no-repeat
			background-size: 463px 70px
			display: block
			height: 70px
			width: 463px


